@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Background */
  --background: #f8fafc;

  /* Surface / cards */
  --surface: #ffffff;

  /* Main text */
  --foreground: #0f172a;

  /* Secondary blue */
  --secondary: #2563eb;

  /* Muted text */
  --muted: #64748b;

  /* Borders */
  --border: #e2e8f0;
}

html.dark {
  /* Background */
  --background: #0f172a;

  /* Surface / cards */
  --surface: #1e293b;

  /* Main text */
  --foreground: #f8fafc;

  /* Secondary blue */
  --secondary: #60a5fa;

  /* Muted text */
  --muted: #94a3b8;

  /* Borders */
  --border: #334155;
}

html {
  background: var(--background);
  color: var(--foreground);

  transition:
    background-color 300ms ease,
    color 300ms ease;
}

body {
  background: var(--background);
  color: var(--foreground);

  transition:
    background-color 300ms ease,
    color 300ms ease;
}